dashboard/node_modules
dashboard/.next

dashboard/.gitignore
dashboard/.gitattributes
dashboard/.env.local
dashboard/.env.development
dashboard/.env.production
dashboard/.env
dashboard/next.config.js
dashboard/next-env.d.ts
dashboard/package-lock.json
dashboard/package.json
dashboard/README.md
dashboard/tsconfig.json
dashboard/yarn.lock

agentcore/node_modules
agentcore/dist
